body {
    background: white;
}

.mainImgDiv {
    text-align: center; 
}

.mainImg {
    width: 75%;
    height: 445px;
}

img.medical {
    height: 150px;
    width: 150px;
}

.medDiv {
    display: flex;
    justify-content: center;  
    justify-content: space-around;
    align-items: center
}

.medical {
    height: 350px;
    width: 519px;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    margin-bottom: 150px;
    font-weight: 400;
}

img.medical {
    height: 415px;
    width: 519px;
   
}



.schoolDiv {
    display: flex;
    justify-content: center;  
    justify-content: space-around;
    align-items: center;
   
}

.school {
    height: 415px;
    width: 519px;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    margin-bottom: 150px;
    font-weight: 400;
}

img.school {
    width: 475px;
    height: 425px;
   
}

img.mother {
    height: 150px;
    width: 150px;
}

.motherDiv {
    display: flex;
    justify-content: center;  
    justify-content: space-around;
    align-items: center
}




.mother {
    height: 350px;
    width: 519px;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    margin-bottom: 150px;
    font-weight: 400;
}

img.mother {
    height: 415px;
    width: 519px;
   
}

button {
    color: green;
    border-color: green;
    background-color: white;
    border-radius: 12px;
    align-items: flex-end;
    
}

.logo {
    /* text-align: center;
    margin-top: 100px;
    width: 330x;
    height: 300px;
    margin: 0 auto;
    align-items: center; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: white;
  }
  
  li {
    float: right;
  }
  
 
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  li a.active {
    color: white;
    background-color: black;
  }

  p {
    font-family: 'Poppins';
    font-weight: 200;
  }

  .moto {
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }

.contactUs {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}


.contactForm {
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    /* margin-left: 400px;
    margin-right: 400px; */
}

div .row {
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

div .submitBtn  {
    text-align: center;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 

button .join{
    margin: auto;
    width: 50%;
    color: darkgreen;
}

h2{
    text-align: center;
}

.join {
    margin: auto;
    display: block;
}

a {
    color: green;
}